
@{
    ViewBag.Title = "Kokpit";
}

<h2>Kokpit</h2>


@ViewBag.Komunikat

@if (ViewBag.Rola == "BrakUprawnien")
{
    <div>
        @Html.ActionLink("Zaloguj się!", "Zaloguj", new { returnUrl = "/Slowko/Kokpit/" })
    </div>
}
else
{
    @Html.Raw("Widok dla admina.");
}

