@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/PytanieScript.js")

@model memo.Models.Pytanie

@{
    ViewBag.Title = "Pytanie";
}

<h2>Pytanie</h2>


@Html.Partial("_Pytanie",Model)

