@model memo.Models.statystykaUzytkownika
@Styles.Render("~/Content/StatystykiStyle.css")
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Typ', 'Liczba odpowiedzi'],
              ['Poprawne', @Model.dobreOdpowiedzi],
              ['Złe', @Model.zleOdpowiedzi]
            ]);

            var options = {
                title: 'Twoja skuteczność'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>